<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42569349381-hopt33oe5psc2q64u46lhvrqlis34fmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42569349381-hopt33oe5psc2q64u46lhvrqlis34fmn</string>
	<key>API_KEY</key>
	<string>AIzaSyAmmLTpKMk3bN4YDDqs60ulCTjzW14b63U</string>
	<key>GCM_SENDER_ID</key>
	<string>42569349381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LibTrack.SubMan</string>
	<key>PROJECT_ID</key>
	<string>subman-9848c</string>
	<key>STORAGE_BUCKET</key>
	<string>subman-9848c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42569349381:ios:769f9ec75e3edf20111f6c</string>
</dict>
</plist>